@charset "UTF-8";

@font-face {
    font-family:"Pokemon Hollow";
    src: url(fontes/Pokemon\ Hollow.ttf);
    
}
*{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

header{
    background: url(imagens/body.gif) bottom ;
    background-size: cover ;
    padding: 10%;
}
header>h1{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: "Pokemon Hollow";
}
section{
  background-color: rgb(3, 3, 3);
  margin: auto;
}
article{
    color: white;
    padding: auto;
    text-align: justify;
   -moz-backface-visibility: visible;
   background-color: rgba(97, 18, 187, 0.438);
     margin: auto;
   padding: 20px;
   max-width: 600px;
   min-width: 200px;
   border-radius: 10px;
 }
body{
  background-image: linear-gradient( to left,black,rgb(74, 2, 156),black);
}

p{
    color: rgb(252, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2.0em;
    text-align: justify;
    
}

footer{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5%;
   
}   

h2{
    color: white;
    text-align: center;
    font-family: "Pokemon Hollow";
}

.meio{
    text-align: center;
    margin: auto;
    background: url(imagens/WhatsApp\ Image\ 2023-12-13\ at\ 11.32.20.jpeg) no-repeat center;
    background-size: cover;
    width: 200px;
      height: 200px;
      border-radius: 50%;
    border: solid rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: rgb(98, 170, 110);
    font-size: larger;
    text-align: center;
    padding: 5px;
    padding: 10px;
}
.branco{
    color: white;
    padding: 10px;
}
.preto{
    color: rgba(138, 137, 137, 0.938);
    padding: 10px;
}
.d1{
    text-align: center;
    max-width: 100%;
}